## Day 1: Identification of genomic Biomarker for TNBC-01

In [2]:
# Import necessary libraries
import pandas as pd

In [26]:
# Load the IntOGen-DriverGenes_BRCA.tsv file into a pandas DataFrame
drivers = pd.read_csv('Day2/TNBC01/Inputs/IntOGen-DriverGenes_BRCA.tsv', sep='\t')

In [27]:
# Load the TNBC01.VEP.output.txt file into a pandas DataFrame
df = pd.read_csv('Day2/TNBC01/Inputs/TNBC01.VEP.output.txt', sep='\t')

In [28]:
# Replace any '-' values in the 'gnomADe_AF' column with 0 and convert the column to float type
df['gnomADe_AF'] = df['gnomADe_AF'].replace({'-': 0}).astype(float)
df = df.loc[df['gnomADe_AF'] < 0.01]
df = df.loc[df['IMPACT'].isin(['HIGH', 'MODERATE'])]
df = df.loc[df['CANONICAL'] == 'YES']
df = df.loc[df['SYMBOL'].isin(drivers['Symbol'])]

In [29]:
# Display the 'SYMBOL' and 'HGVSp' columns of the filtered DataFrame
df[['SYMBOL', 'HGVSp']]

        SYMBOL                           HGVSp
22546     ABL2   ENSP00000427562.1:p.Thr753Ala
82593    BRCA2  ENSP00000369497.3:p.Glu1593Ter
126653    TP53   ENSP00000269305.4:p.Arg175His
304333  ARID1B   ENSP00000490491.2:p.Gly897Ala
319260   AKAP9  ENSP00000348573.3:p.Asp2313His

## Day 2: TMB calculation

In [3]:
df = pd.read_csv('Day2/TNBC01/Inputs/TNBC01.VEP.output.txt', sep='\t')

In [4]:
df['gnomADe_AF'] = df['gnomADe_AF'].replace({'-': 0}).astype(float)
df.shape

(374331, 49)

In [5]:
df = df.loc[df['gnomADe_AF'] < 0.01]
df.shape

(374135, 49)

In [6]:
df = df.loc[df['CANONICAL'] == 'YES']
df.shape

(40973, 49)

In [7]:
df = df.loc[df['Consequence'] != 'synonymous_variant']
df.shape

(40866, 49)

In [8]:
df[['Location', 'UPLOADED_ALLELE']].drop_duplicates().shape[0]

30179

In [9]:
TMB = 30179/34

In [10]:
if TMB >= 10:
    print('TMB is High')
else:
    print('TMB is Low')

TMB is High